<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>

  <style> 


  /* Header/Logo Title */
div.header {
  
 margin-left: 200px;
 margin-right: 200px;
 margin-top: 60px;
 margin-bottom: 20px;
 
  text-align: center;
  
  color: white;
  font-size: 40px;
  font-family: Arial;
}

body {
  background-color:#3AAFA9 ;
}



   

    </style>

  <meta charset="UTF-8">
  <title>Cricket_Score_Predictor</title>

  
</head>

<body>

  <div class="header">
    <h1>{{ prediction_text }}</h1>
    
  </div>
  



  


</body>
</html>